# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    'label': 'Brightpoint'
    'submenu':[
      {
        'label': 'Remove all breakpoints'
        'command': 'bright-point:removeAll'
      },
      {
        'label': 'Remove all breakpoints from current file'
        'command': 'bright-point:removeAllCurrent'
      }
    ]
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Brightpoint'
      'submenu': [
        {
          'label': 'Remove All Breakpoints'
          'command': 'bright-point:removeAll'
        },
        {
          'label': 'Remove all breakpoints from current file'
          'command': 'bright-point:removeAllCurrent'
        }
      ]
    ]
  }
]
